/* font import */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    
    font-family: 'Work Sans', sans-serif;
}
body{
    box-sizing: border-box;
}

/* nav styled star here */


nav{
    background-color: #FFF;
}
.nav-container{
    max-width: 1000px;
   
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-logo{
     display: flex;
     width: 50%;
     text-align: center;
     gap: 10px;
    
     
}
.nav-logo img{
     width: 80px;
     height: 30px;
    padding-top: 47px;
}    
   
   
.nav-logo p{
    font-size: 2.5rem;
    font-weight: 700;
}
.game{
    color:#FF42A5 ;
}


.manu-container{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.manu-container a{
    text-decoration: none;
    color:#3C354F ;
}
.manu-container .follow-us-btn{
    width: 200px;
    padding: 10px 10px;
    background-color: rgba(11, 2, 35, 0.10);
   
    text-align: center;
    border-radius: 8px;
}

/* nav styled end here */

/* banner-section styled start here */

.banner-section{
    box-shadow:4px 0px 4px rgb(187, 186, 186);
    background-color: #FBF7FE;
   

}
.banner-container{
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
}
.banner-text{
    width: 50%;
    padding-top: 10px;
   
    
}
.banner-text .play-like{
    font-size: 2rem;
   
    font-weight: 600;
    padding-bottom: 20px;
}  

.banner-text .goat{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 0px;
   

}

.fa-youtube{
    color: #F948B2;
    margin-right: 5px;
}

.fa-download{
    color: #F948B2;
    margin-right: 5px;
}

.fa-user-group{
    color: rgb(168, 164, 164);
}

.banner-text-btn{
       width: 150px;
       background-color: #F948B2;
       padding: 20px 30px;
       font-size: 1rem;
       color: #FFF;
       border-radius: 40px;
       border: 0px;
       margin-top: 20px;
      
}
.go-rogue{
    background-color: #8758F1;
   margin-left: 10px;
}
.banner-img{
    width: 50%;
    
}
.banner-img img{
    width: 100%;
    background-color: transparent;
    
    
}


/* banner-section styled end here */