/* font import */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    
    font-family: 'Work Sans', sans-serif;
}
body{
    box-sizing: border-box;
}

/* nav styled star here */


nav{
    background-color: #FFF;
}
.nav-container{
    max-width: 1000px;
   
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-logo{
     display: flex;
     width: 50%;
     text-align: center;
     gap: 10px;
    
     
}
.nav-logo img{
     width: 80px;
     height: 30px;
    padding-top: 47px;
}    
   
   
.nav-logo p{
    font-size: 2.5rem;
    font-weight: 700;
}
.game{
    color:#FF42A5 ;
}


.manu-container{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.manu-container a{
    text-decoration: none;
    color:#3C354F ;
}
.manu-container .follow-us-btn{
    width: 200px;
    padding: 10px 10px;
    background-color: rgba(11, 2, 35, 0.10);
   
    text-align: center;
    border-radius: 8px;
}

/* nav styled end here */